{% extends 'posts/base.html' %}
{% block content %}
    {% load static %}
    <br><br><br>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

        body {
            background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        }

        .login {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
            font-family: 'Comfortaa', cursive;
        }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            border-radius: 10px;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
        }

        .form input {
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            border-radius: 5px;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
            font-family: 'Comfortaa', cursive;
        }

        .form input:focus {
            background: #dbdbdb;
        }

        .form button {
            font-family: 'Comfortaa', cursive;
            text-transform: uppercase;
            outline: 0;
            background: #4b6cb7;
            width: 100%;
            border: 0;
            border-radius: 5px;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

        .form button:active {
            background: #395591;
        }

        .form span {
            font-size: 75px;
            color: #4b6cb7;
        }
    </style>
    {% csrf_token %}
    <div class="login">
        <div class="form">
            <form class="login-form" id="createpostform" enctype="multipart/form-data">

                {% csrf_token %}

                <img src="{% static 'images/prowerse.png' %}" width="50%;" style="margin-bottom: 5%;">
                {% if error %}
                    <p style="margin-bottom: 15%; font-size: 10px;">Please Login First...</p>
                    <button><a href="{% url 'login' %}" style="color: #dbdbdb;">Login</a></button>
                {% else %}
                    <p style="margin-bottom: 15%; font-size: 10px;">LOGEDIN As: <strong
                            style="font-size: 17px; color: #182848;">{{ user.username }}</strong></p>
                    <!-- unique id input hidden -->
                    <input type="number" value="3" id="uniqueid" hidden>
                    <input type="text" placeholder="Product Name" name="productname" id="productname" required/>
                    <input type="text" placeholder="Product Description" name="productdescription"
                           id="productdescription" required/>
                    <input type="text" placeholder="Product Type" name="producttype" id="producttype" required/>
                    <div class="custom-file" style="margin-bottom: 10%;">
                        <input type="file" class="custom-file-input" id="file" name="productimage"
                               required>
                        <label class="custom-file-label" for="validatedCustomFile" style="margin-bottom: 1%;">Choose
                            file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                    <!-- <button>CREATE PRODUCT</button> -->
                    <button id="BTNcreateproduct" type="button">CREATE PRODUCT</button>

                {% endif %}
            </form>
        </div>
    </div>

    <div class="container" style="margin-bottom: 100px;">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="msgdata"
             style="visibility: hidden;">
            <strong>Your Data Is Being Upload!</strong> You can go back from this page.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <!-- script for get data and store it in indexeddb -->
    <script>
        //global variable
        let db = null;

        //call UploadDataDB function when someone click on button and upload data
        const AddBTN = document.getElementById('BTNcreateproduct');
        AddBTN.addEventListener("click", UploadDataDB);

        //function for upload the data in indexeddb
        function UploadDataDB(e) {
            console.log('change event fired for input field');

            let file = document.getElementById('file').files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file);
            //reader.readAsBinaryString(file);

            reader.onload = function (e) {
                //alert(e.target.result);
                let bits = e.target.result;

                let ob = {
                    id: Math.floor(Math.random() * 11),
                    productname: document.getElementById('productname').value,
                    productdescription: document.getElementById('productdescription').value,
                    producttype: document.getElementById('producttype').value,
                    data: bits
                };


                let trans = db.transaction(['product'], 'readwrite');
                let addReq = trans.objectStore('product');
                let request = addReq.add(ob);

                //reload page everytime when data is uploaded
                location.reload();
                //show msg on display data is being upload
                document.getElementById('msgdata').style.visibility = 'visible';


                addReq.onerror = function (e) {
                    console.log('error storing data');
                    console.error(e);
                }

                trans.oncomplete = function (e) {
                    console.log('data stored successfully on indexeddb...');
                }
            }
        }

        //database createproduct created here and all events are here
        let request = indexedDB.open("ProductDB", 1);

        request.onupgradeneeded = function () {
            let db = request.result;
            if (!db.objectStoreNames.contains('product')) {
                db.createObjectStore('product', {keyPath: 'id'});
            }

        };

        request.onerror = function () {
            console.error("Unable to access database", request.error);
            console.log("Article Publish failed", request.error);
        };

        request.onsuccess = function () {
            db = request.result;
            console.log("Article Published", request.result);
        };

    </script>


{% endblock %}

